body {
  font-family: Arial, sans-serif;
  margin: 20px;
  justify-content: center;
  text-align: center;
}

#container {
  padding: 5px;
  background-color: #00698f;
  color: black;
}

#head {
  background-color: black;
  padding: 50px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(243,232,24);
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: black;
  color:rgba(243,232,24)
}

/* Style for the active link */
.navbar li a.active {
  background-color: #0a0a0a; 
  color: white;
}

#image {
  width: 100px;
  height: 100px;
}

#con1 {
  float: right;
  color: black;
  margin-right: 1400px;
  margin-top: 40px;
}

#con2 {
  float: right;
  margin-top: -70px;
  margin-right: 50px;
}

#con3 {
  float: right;
  margin-top: -50px;
  margin-right: 50px;
}

.ull {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.ull li {
  padding: 10px;
}

.ull li:last-child {
  border-bottom: none;
}

.ull li::before {
  content: '>'; /* Custom bullet content */
  position: center;
  left: 0;
  color: black; /* Initial bullet color */
  font-size: 20px; /* Bullet size */
  line-height: 20px; /* Center bullet vertically */
  transition: color 0.3s; /* Smooth transition for color change */
}
/* Your existing CSS styles */

.content {
  display: none; /* Initially hide all content */
}

.active-content {
  display: block; /* Show active content */
}

#content {
  width: 700px;
  margin: 0 auto;  /* This centers the p element horizontally within its parent */
  text-align: center;  /* This centers the text within the p element */
  display: flex;  /* This sets the display property to flex for the p element */
  justify-content: center;  /* This centers the content horizontally within the p element */
  align-items: center;
  margin-top: 20px;  /* This centers the content vertically within the p element */
}

#con4{
  font-weight: bolder;
  margin-top: 20px;
}

#footer {
  padding: 50px;
  background-color: black;
  margin-top: 20px;
  color: white;
}
#footer-address p {
  margin: 5px 0;
}
